[delta]
  navigate = true
  side-by-side = true
  features = catppuccin-mocha
  syntax-theme = Nord
  syntax-set = Comment=#8b92a7,Boolean=#f9e2af,Constant=#f9e2af,Keyword=#f5c2e7,Type=#f9e2af

[delta "catppuccin-mocha"]
  line-numbers = true
  line-numbers-left-style = dim
  line-numbers-right-style = dim
  line-numbers-minus-style = red
  line-numbers-plus-style = green
  line-numbers-zero-style = gray
  file-style = bold yellow
  file-decoration-style = bright-yellow box
  hunk-header-style = cyan bold
  hunk-header-decoration-style = cyan box
  plus-style = syntax "#1c2b1f"
  minus-style = syntax "#2b1c1f"
  zero-style = syntax

[diff]
  colorMoved = default
[init]
	defaultBranch = main
[user]
	name = Erik St. Martin
	email = alakriti@gmail.com
[apply]
  whitespace=warn
[color]
	branch = auto
	diff = auto
	status = auto
  ui=true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  # Only push branches that have been set up to track a remote branch.
  default = current
[alias]
  rl = reflog
  s = status --short
  a = add
  c = commit -m
  au = add -u :/
  rm = rm
  b = branch
  m = merge --no-ff
  mff = merge --ff-only
  p = pull
  pu = push
  f = fetch
  st = stash
  stp = stash pop
  d = diff
  co = checkout
  l = log --graph --topo-order --pretty='%w(100,0,6)%C(yellow)%h%C(bold)%C(black)%d %C(cyan)%ar %C(green)%an%n%C(bold)%C(white)%s %N' --abbrev-commit
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = delta

[diff]
  tool = nvimdiff

[difftool]
  prompt = false

[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[merge]
  tool = nvimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE" "$BASE" "$MERGED"

[interactive]
  diffFilter = delta --color-only
