vim/.vim/bundle/
vim/.vim/.netrwhist
vim/.vim/.cache
vendor/bundle/ruby
.DS_Store
*.swp
*.swo
NeoBundle.lock
nvim/.config/nvim/plugged
nvim/.local
polybar/.config/polybar/fonts
tags
broot/.config/broot/launcher/
nvim/.config/mcphub
ruby/.rbenv
